.infocep {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  border-radius: 30px;
  text-align: justify;
  line-height: 30px;
  padding: 30px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(1, 0, 32);
  box-shadow: 0 0 10px 10px #ffcc00;
  max-width: 300px;
  max-height: 350px;
}

@media (min-height: 992px) {
  .infocep {
    max-width: 600px;
  }
}

.infocep-p {
  text-decoration: underline;
}

.infocep-button {
  margin-top: 20px;
  border: 1px solid #ffcc00;
  background-color: transparent;
  color: #ffffff;
  border-radius: 8px;
  width: 75px;
  font-size: 20px;
  font-weight: 700;
}

@media (min-width: 992px) {
  .infocep-button {
    font-size: 24px;
  }
}

.infocep-contact {
  cursor: pointer;
  color: rgba(0, 255, 119, 0.733);
  text-decoration: underline;
}

@media (min-height: 992px) {
  .infocep {
    font-size: 24px;
    left: 0;
    right: 0;
    margin: auto;
    gap: 15px;
  }
}

.hidden {
  display: none;
}
