.infocep {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  border-radius: 30px;
  text-align: start;
  line-height: 30px;
  padding: 30px;
  margin: auto 30px;
  background-color: rgb(1, 0, 32);
  box-shadow: 0 0 10px 10px #ffcc00;
  margin-top: -100px;
}

.infocep-p {
  text-decoration: underline;
}

.contato-button {
  margin-top: 20px;
  width: fit-content;
  border: 2.5px solid #0d2746a7;
  border-radius: 8px;
}

.infocep-contact {
  cursor: pointer;
  color: rgba(0, 255, 119, 0.733);
  text-decoration: underline;
}

.hidden {
  display: none;
}
