.cep-form {
  max-width: 500px;
}

.cep-form-container {
  display: flex;
  flex-direction: column;
  width: 320px;
  max-height: 100%;
  margin: 0 auto;
  margin-top: 10px;
  font-weight: 700;
}

.cep-form-container-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.cep-form-container-box-input {
  border-radius: 8px;
  max-width: 250px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.cep-form-container-box-input:hover {
  border: 2px solid #1a4982;
}

@media (min-width: 992px) {
  .cep-form-container-box-input {
    height: 30px;
    font-size: 16px;
  }
}

.cep-form-container-box-input:focus {
  box-shadow: 0px 0px 10px 3px rgba(0, 255, 119, 0.733);
  outline-color: #1a4982;
}

.cep-form-container-box-p {
  font-size: 18px;
  padding-bottom: 10px;
}

.cep-form-p {
  margin: 0;
  text-align: center;
}
