.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgb(1, 0, 32);
  padding-top: 50px;
  font-size: 24px;
  gap: 15px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
}

.contact-form-input {
  box-sizing: border-box;
  width: 300px;
  min-height: 40px;
  font-size: 16px;
  border-radius: 8px;
  padding-left: 15px;
}

.contact-button-close {
  position: fixed;
  z-index: 1;
  padding: 20px;
  right: 0;
  top: 0;
}

.contact-button-close-bt {
  padding: 0;
  width: fit-content;
  background-color: transparent;
  border: 0;
  border-radius: 30px;
}

.contact-button-close-img {
  border-radius: 20px;
}

.contact-button-close-img:hover {
  box-shadow: 0 0 10px 5px #cc3300;
}

.contact-button-submit {
  width: 200px;
  font-size: 24px;
  border-radius: 12px;
  width: fit-content;
  padding: 5px 15px;
  background-color: rgba(0, 255, 119, 0.733);
  color: rgba(9, 0, 31, 0.692);
  border-color: #1a4982;
}

.contact-button-submit:hover {
  background-color: #1a4982;
  color: rgba(0, 255, 119, 0.733);
  border-color: rgba(0, 255, 119, 0.733);
}

.contact-form-textarea {
  resize: none;
  padding-top: 15px;
}

.contact-form-textarea:focus {
  position: absolute;
  z-index: 2;
  height: 220px;
}

.flex-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}
