.navbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(1, 0, 32);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  max-width: 1000px;
}

@media (min-width: 992px) {
  .navbar {
    border-radius: 0 0 15px 15px;
  }
}

.navbar-logo {
  margin-left: 30px;
}

@media (min-width: 992px) {
  .navbar-logo {
    margin-left: 90px;
    height: 90px;
  }
}

.navbar-title {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

@media (min-width: 992px) {
  .navbar-title {
    font-size: 24px;
    padding-right: 100px;
  }
}

.navbar-menu {
  position: absolute;
  border: 0;
  padding: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 20px;
  width: 40px;
  background-color: rgba(0, 255, 119, 0.733);
  border-radius: 15px 15px 1px 1px;
}

@media (min-width: 992px) {
  .navbar-menu {
    display: none;
  }
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  background-color: #0d2746;
  height: 50px;
  right: 0;
  left: 0;
  margin: 100px auto auto auto;
  padding: 0 5px;
  border: 2.5px solid rgba(9, 0, 31, 0.692);
  border-top: 0;
  border-radius: 0 0 30px 30px;
  max-width: 400px;
}

.navbar-links-plan {
  border-radius: 12px;
  width: fit-content;
  padding: 5px 15px;
  background-color: rgba(0, 255, 119, 0.733);
  color: rgba(9, 0, 31, 0.692);
  border-color: #1a4982;
  font-weight: 700;
}

.navbar-links-plan:hover {
  background-color: #1a4982;
  color: rgba(0, 255, 119, 0.733);
  border-color: rgba(0, 255, 119, 0.733);
}

.navbar-links-link {
  cursor: pointer;
  text-align: center;
  padding: 0 30px;
  padding-bottom: 5px;
  width: 100px;
}

.navbar-links-link:hover {
  box-sizing: border-box;
  background-color: transparent;
  padding-bottom: 0;
  border-bottom: 5px solid rgba(0, 255, 119, 0.733);
}

.revert {
  transform: rotate(180deg);
  transition-duration: 150ms;
}
